@tailwind base;
@tailwind components;
@tailwind utilities;

.Login{
    color: #155e75;
    font-size: 40px;
}
.Input{
    color: #155e75;
    font-weight: bold;  
    transition: all 3s ease;
}
.Input:focus{
    --tw-ring-color: #155e75 !important;
        border-color: #155e75;
}
.Color{
    color: #155e75;
    font-weight: bold;
    font-size: 30px;
}
.bg-gray-50{
    background-color: #0080ff00 !important;
    
}

.border_select:focus {
    --tw-ring-color: #155e75 !important;
    border-color: #155e75;
}